1. What are data structures, and why are they important?

  - Data Structure is a way of organizing and storing data so that it can be accessed easily and manipulated effeciently. That's how Data Sturucture is important. Example: String, List, Tuple, Set, Array etc.

2. Explain the difference between mutable and immutable data types with examples
    - Mutable data types are those whose values or contents can be changed, modified, or updated after they have been initialized.
    Examples : Lists & Dictionaries

In [ ]:
#Lists (Python): Elements can be added, removed, or changed.
# create a list
my_list = [1, 2, 3]
my_list.append(4)  # Modifies my_list in place
print(my_list) # Output: [1, 2, 3, 4]

#Dictionaries (Python): Key-value pairs can be added, removed, or updated.
my_dict = {"a": 1, "b": 2}
my_dict["c"] = 3  # Adds a new key-value pair
print(my_dict) # Output: {'a': 1, 'b': 2, 'c': 3}

[1, 2, 3, 4]
{'a': 1, 'b': 2, 'c': 3}

2. Explain the difference between mutable and immutable data types with examples
    - Immutable data types are those whose values or contents cannot be changed once they have been created. Any operation that appears to "modify" an immutable object actually creates a new object with the desired changes.
    Examples : Strings & Tuples

In [ ]:
#Characters within a string cannot be changed.
my_string = "hello"
# my_string[0] = "H"  # This would raise a TypeError
new_string = "H" + my_string[1:] # Creates a new string
print(new_string) # Output: Hello

#Elements within a tuple cannot be changed, added, or removed.
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # This would raise a TypeError
new_tuple = my_tuple + (4,) # Creates a new tuple
print(new_tuple) # Output: (1, 2, 3, 4)

Hello
(1, 2, 3, 4)

3. What are the main differences between lists and tuples in Python?
    - List : List is an orderd collection of hetrogenious data and elements that can be of any type. Lists are mutable(can be modified) data type.
    Example:

          my_list = [1, 2, 3]

          my_list.append(4)  # Modifies my_list in place
      
          print(my_list) # Output: [1, 2, 3, 4]

    - Tuples : Tuples are immutable(cannot be modified). If you don't want to change data , You can use tuples to store data like (Adhaar, ATM, EmployeeID). Tuples cannot be modified after creation
    Example :

          my_tuple = (1, 2, 3)

          my_tuple[0] = 4  # This would raise a TypeError : 'tuple' object does not support item assignment

4. Describe how dictionaries store data
    - Dictionaries are data structure that can store data as key value pair, keys are unique and immutable.

    Note : Dictionaries are unorderd but from python 3.7 version, dictionaries retain order of insertion, That means if you iterate over dictionary, the items will be returned in the order they were added.

    Example:

    person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
    }

    Here:

    "name", "age", and "city" are keys

    "Alice", 25, and "New York" are their corresponding values

5. Why might you use a set instead of a list in Python?
      - A set only stores unique items, that means sets does't allow duplicate elements. Sets are unorderd collection of elements so, indexing will not work here.
      Example :

      numbers = [1, 2, 2, 3, 4, 4]

      unique_numbers = set(numbers)

      print(unique_numbers)  # Output: {1, 2, 3, 4}

6. What is a string in Python, and how is it different from a list?
    - A string is a sequence of characters, like letters, digits, symbols, or spaces, enclosed in quotes. String is immutable.
    Example :

    my_string = "Hello, world!"

    - Lists are mutable and can be update. A list is an ordered collection of items (of any type), enclosed in square brackets [].
    Example :
    
    my_list = [1, "hello", 3.14, True]

7. How do tuples ensure data integrity in Python?
    - Tuples are immutable, once created, a tuple can not be changed like we can not add or remove item, change the value of an item and can not sort or reverse it in place. This protects the data from being modified accidentally or intentionally. That's how tuples ensure data integrity.
    Example:

    data = (42, "admin", True)

    data[0] = 100
    
    TypeError: 'tuple' object does not support item assignment

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key value pairs. It uses a     hash function to convert a key into an index in an internal array. The value is stored at that index, which allows fast lookup, insertion, and deletion.
  For Example

  my_dict = {"name": "Alice", "age": 25}

  print(my_dict["name"])    #Lookup using key (hashing under the hood)
  
  my_dict["city"] = "Delhi"  #Insert new key-value

9.  Can lists contain different data types in Python?
  - Yes, lists can contain elements of different data types because Python lists are dynamic and not type-restricted.

10.  Explain why strings are immutable in Python
  - Strings are immutable in nature i.e. you cannot change the content of a string after it is created. If you try to modify a string, Python creates a new string object instead of changing the original one.

    
    s = "Sanjay"
    print(s) # Sanjay
    s[0] = "F"
    print(s) # Type error

11.  What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries are like the Swiss Army knives of Python data structures—they shine in tasks where fast lookups, clear associations, and flexible data access are key. Here's why they often outperform lists in certain scenarios:

  a. Fast Lookups (O(1) vs O(n))
  
  b.Key-Value Mappin

  c. No Need to Remember Indexes

  d. Faster Updates & Deletions by Key

  e. Better for Sparse Data

12.  Describe a scenario where using a tuple would be preferable over a list.
  - Tuples may seem like the quieter sibling of lists, but they have their own superpowers—especially when you want fixed, reliable data. Tuples are immutable, so they protect data from being modified accidentally.
  
  Example: Storing fixed GPS coordinates (28.6139, 77.2090) for a city.

  
  places = {
    
    
    (28.6139, 77.2090): "Delhi",
    (40.7128, -74.0060): "Canada"
      
      }

13.  How do sets handle duplicate values in Python?
  - Sets in Python are like the bouncers of the data structure world—they automatically reject duplicates at the door. - Sets only store unique elements, so even if you try to add the same item multiple times, it will only appear once.
  
      
      Example:

    num= {1,2,3,4,4,3,4,2,1,2,3,2,1,3,2,1,2,2,3,4}
    print(num)  #output:  {1,2,3,4}

14.  How does the “in” keyword work differently for lists and dictionaries?
  - The "in" keyword is a versatile little operator in Python, but it behaves quite differently depending on the data structure you're working with.- It performs a linear search, meaning it checks each item one by one.

      
    Example for list:

    fruits = ["apple", "banana", "cherry"]
    print("banana" in fruits)  # True
    print("grape" in fruits)   # False


    Example for dictionary:

    my_dict = {"name": "Alice", "age": 25}
    print("name" in my_dict)    # True (key check)
    print("Alice" in my_dict)   # False (values not checked)

15.  Can you modify the elements of a tuple? Explain why or why not?
  - No, we cannot modify the elements of a tuple in Python. And that's not a bug, it is a feature. Tuple are immutable, Once a tuple is created, its contents are locked in. You cannot change, add, or remove elements.

    
    t = (1, 2, 3)
    t[0] = 99  # TypeError: 'tuple' object does not support item assignment

 - Mutable elements in Tuble:

    
    t = ([1, 2], "hello")
    t[0].append(3)  # This works
    print(t)        # Output: ([1, 2, 3], 'hello')

16.  What is a nested dictionary, and give an example of its use case?
  - A nested dictionary in Python is a dictionary where values themselves are dictionaries. It is like having a dictionary inside another dictionary—perfect for representing complex, hierarchical data.

  - Example

  
    students = {
    "Sanjay": {
        "age": 17,
        "grades": {"math": 88, "science": 92},
        "contact": {"email": "sanjay@gmail.com", "phone": "9876543210"}
    },
    "Aisha": {
        "age": 16,
        "grades": {"math": 95, "science": 89},
        "contact": {"email": "aisha@gmail.com", "phone": "9123456780"}
    }
    }

17.  Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a Python dictionary is impressively fast—thanks to its underlying hash table implementation. - When you retrieve a value using a key (dict[key]), Python uses the key's hash to jump directly to the correct location in memory. - This means the lookup is done in constant time, regardless of the dictionary's size.


    user = {"name": "Sanjay", "age": 30}
    print(user["age"])  # O(1) access

18.  In what situations are lists preferred over dictionaries.
  - Lists are the go-to choice when you need a simple, ordered collection of items—especially when the position of each item matters more than its label.
  - Lists preserve the order of insertion, which is crucial when working with sequences like steps in a process, time-series data, or ordered tasks.
  -Dictionaries didn't guarantee order, though they do now—but lists are still more intuitive for ordered data.


  1. Order Matters

  Lists maintain insertion order (like dictionaries do in Python 3.7+, but lists are more natural for ordered sequences).

  Example: Keeping track of steps in a recipe:

      
      steps = ["Mix flour", "Add water", "Knead dough", "Bake"]

  2. Sequential / Index-Based Access

  Lists are best when you need to access elements by position (index).

    
    scores = [90, 85, 78]
    print(scores[1])  # 85

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries in Python were traditionally considered unordered because they didn't guarantee the order in which key-value pairs were stored or retrieved. This was true up until Python 3.6, where dictionaries started preserving insertion order as an implementation detail, and officially became ordered in Python 3.7+.

  - A dictionary is implemented as a hash table, so elements are stored based on their hash values, not their insertion order.

  - When you iterated over a dictionary, the order of keys could appear arbitrary (depending on hash positions in memory).

# Since dictionaries use hashing, you retrieve values using keys, not positions.

    user = {"id": 101, "name": "Alice"}
    print(user["name"])   # Direct key lookup

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists and dictionaries are both powerful tools in Python, but they serve very different purposes when it comes to data retrieval.

# Lists → best when data is naturally sequential and you need index-based retrieval.

    fruits = ["apple", "banana", "cherry"]
    print(fruits[1])   # "banana" → retrieved by index

# Dictionaries → best when data is mapped (key → value) and you need fast lookups by key.

    fruit_colors = {"apple": "red", "banana": "yellow", "cherry": "red"}
    print(fruit_colors["banana"])   # "yellow" → retrieved by key

In [ ]:
#1.Write a code to create a string with your name and print it
my_name = "John Carter"
print(my_name)

John Carter

In [ ]:
#2. Write a code to find the length of the string "Hello World".
my_string = "Hello World"
print(len(my_string))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
my_string = "Python Programming"
print(my_string[:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
my_string = "hello"
print(my_string.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple', 'banana', 'orange')
if 'kiwi' in my_tuple:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a','b','c'}
print(my_set)

{'a', 'b', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

In [ ]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
my_set1 = {1,2,3,}
my_set2 = {3,4,5}
print(my_set1.intersection(my_set2))

{3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "John", "age": 23, "city": "Delhi"}
print(my_dict)

{'name': 'John', 'age': 23, 'city': 'Delhi'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("city is in the dictionary")
else:
  print("city is not in the dictionary")

city is in the dictionary

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dict = {"name": "Jhon", "age": 23, "city": "Delhi"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Jhon', 'age': 23, 'city': 'Delhi'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
my_list = [random.randint(1,100) for i in range(5)]
my_list.sort()
print(my_list)

[8, 12, 24, 51, 55]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "orange", "mango"]
print(my_list[2])

orange

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
my_dict1 = {'name': 'Alice', 'age': 30}
my_dict2 = {'city': 'Paris', 'country': 'France'}
my_dict1.update(my_dict2)
print(my_dict1)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "orange", "mango"]
my_set = set(my_list)
print(my_set)

{'orange', 'apple', 'banana', 'mango'}